@{
    
    ViewBag.Title = "Main Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<link href="~/Content/Main.css" rel="stylesheet" />


    <header>

        <section class="hero">
            <div class="innerWrapper">
                <br />
              
                    <ul>

                        <li> <a href="@ViewBag.BankUrl"><img src="https://www.bankatfirstnational.com/8BASE/media/images/base/icon-checking.png" width="150" height="150" /> <br />      View Bank Balance  </a> </li>
                        <li>     <a href="/Bank/FundTransfer" class="smoothScroll"><img src="https://cdn3.iconfinder.com/data/icons/personal-business-finance-1/380/Funds_Transfer-512.png" width="150" height="150" /> <br />    Fund Transfer </a>  </li>
                        <li>    <a href="/Room/Room" class="smoothScroll"><img src="https://5.imimg.com/data5/PC/BL/MY-33192851/hotel-reservation-services-500x500.jpg" width="150" height="150" /> <br />   Hotel Reservations </a>  </li>
                        <li>       <a href="/Phone/Index" class="smoothScroll"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUS6nOxLb3NXA11LMrkwN3Jc2lbrzJzUctSqJYxI3hh7IBCsP-" width="150" height="150" /> <br />   View Phone Bill </a>  </li>



                        <li>    <a href="#abc" class="smoothScroll"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIhO8fj3Tf3-SsZIBsxA7UchuWIcBzXOw_5GyX6lDUQHNc8nDHcQ" width="150" height="150" /> <br />   View Electricity Bill </a>  </li>
                        <li>     <a href="#abc" class="smoothScroll"><img src="https://www.dekalbcountyga.gov/sites/default/files/quick-links/quick-icon-6.png" width="150" height="150" />   <br />   View Water Bill  </a> </li>
                        <li>  <a href="#bfd" class="smoothScroll"><img src="http://skywoodrecovery.com/wp-content/uploads/2016/02/health-insurance-icon-300x300.jpg" width="150" height="150" /> <br />   Insurance Premium </a> </li>


                    </ul>
               
            </div><!-- end .innerWrapper (.hero) -->
        </section>

    </header>







