
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2>Hotel Reservations</h2>

<div class="hotel-reservation">
    <ul>
        <li><a href="/Room/GetRoomDetails"><img src="~/Pics/kingsbury.jpg" alt="Alternate Text" /></a></li>
        <li><a href="#0"><img src="~/Pics/hiltonlogo.gif" alt="Alternate Text" /></a></li>
        <li><a href="#0"><img src="~/Pics/Shangrila.png" alt="Alternate Text" /></a></li>
        <li><a href="#0"><img src="~/Pics/GalleFace.jpg" alt="Alternate Text" /></a></li>
    </ul>
</div>



